name: Build TrueLove APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'latest'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get
        working-directory: .  # هنا التصحيح: خلى Flutter يدخل على المسار الصحيح

      - name: Build APK
        run: |
          flutter build apk --release \
            --dart-define=BLAPPID=${{ secrets.BLAPPID }} \
            --dart-define=BLANDROIDKEY=${{ secrets.BLANDROIDKEY }} \
            --dart-define=BLIOSKEY=${{ secrets.BLIOSKEY }} \
            --dart-define=BLJSKEY=${{ secrets.BLJSKEY }}
        working-directory: .  # هنا التصحيح تاني

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TrueLove-APK
          path: build/app/outputs/flutter-apk/app-release.apk
